button {
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  border: none;
  margin: 15px 5px;
}

button:hover {
  cursor: pointer;
}

.primary-btn {
  background-color: var(--secondary-color);
}

