.question {
  background-color: lightyellow;
}
p {
  font-family: arial,sans-serif;
}

.question input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.question label {
  padding-left: 20px;
}
