h3 {
  font-family: arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: arial, sans-serif;
  font-size: 16px;
}

.question {
  background-color: lightyellow;
}

.question p {
  font-family: arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
}

.container img {
  width: 30px;
  height: 30px;
  padding-left:15px;
  padding-right:15px;
}

.container img:hover {
  background: url("Knappar/knapp-ifylld.png") no-repeat;
  cursor: pointer;

}

.container p {
  font-family: arial, sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.checked {
  display: none;
}
