.buttonsContainer img {
  width: 60px;
  height: 30px;
  padding: 0 15px;
  /* transition: width 0.2s, height 0.2s; */
}

.container img:hover {
  cursor: pointer;
}

.statement p {
  text-align: center;
  font-weight: bold;
  color: rgb(54, 54, 54);
}

#testProgress {
  width: 100%;
  background-color: rgb(194, 194, 194);
}

#testBar {
  height: 30px;
  background-color: var(--primary-color);
}
