.buttonsContainer {
  align-items: center;
}

.buttonsContainer img {
  width: 60px;
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
}

.buttonsContainer img:first-child, .buttonsContainer img:last-child {
  width: 74px;
  height: 38px;
}

.buttonsContainer img:nth-child(2), .buttonsContainer img:nth-child(4) {
  width: 68px;
  height: 34px;
}

.statement p {
  text-align: center;
  font-weight: bold;
  color: rgb(54, 54, 54);
}

.agree {
  color: var(--primary-color);
}

.disagree {
  float: right;
  color: var(--secondary-color);
}

#testProgress {
  width: 100%;
  background-color: rgb(194, 194, 194);
}

#testBar {
  height: 30px;
  background-color: var(--primary-color);
}

.nextButton {
  grid-column-start: 3;
}

.errorMessage {
  color: red;
}

.grid-container {
  display: grid; 
  grid-template-columns: 30% 40% 30%;
}